.diagram-grid-stapel {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 30px;
    padding-bottom: 60px;
}

.diagram-grid-cirkel {
    display: grid;
    grid-template-columns: 1fr 600px;
gap: 30px;
padding-top: 60px;
}

.diagram {
   height: auto;
}

.diagram2 {
    height: auto;
}

@media (max-width: 900px) {
      .diagram-grid-stapel,
      .diagram-grid-cirkel {
      grid-template-columns: 1fr;
gap: 20px;
margin: 0 auto;
padding: 20px;
max-width: 100%;
}

.diagram canvas,
.diagram2 canvas{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

}
